@{
    var Lead = Model.String(Wyam.Blog.BlogKeys.Lead);
    var Published = Model.Get<DateTime>(Wyam.Blog.BlogKeys.Published);   
    var Tags = Model.Get<string[]>(Wyam.Blog.BlogKeys.Tags);
}

<div class="post-heading">
    <h1>@Model.WithoutSettings.String(Wyam.Blog.BlogKeys.Title)</h1>
    @if(!string.IsNullOrWhiteSpace(Lead))
    {
        <h2 class="subheading">@Lead</h2>
    }            
    <div class="meta">        
        @if (Published != default(DateTime))
        {
            <text>Published on @Published.ToLongDateString(Context)<br></text>   
        }
        <a href="@Context.GetLink(Model, true)#disqus_thread" data-disqus-identifier="@Model.FilePath(Keys.RelativeFilePath).FileNameWithoutExtension.FullPath" async></a>
    </div>
    @if (Tags != null)
    {
        <div class="tags">
            @foreach (string tag in Tags.OrderBy(x => x))
            {
                IDocument tagDocument = Documents[Wyam.Blog.Blog.Tags].FirstOrDefault(x => x.String(Wyam.Blog.BlogKeys.Tag) == tag);
                if(tagDocument != null)
                {                
                    <a role="button" href="@Context.GetLink(tagDocument)" class="btn btn-default btn-xs">@tag</a>
                }
            }
        </div>     
    } 
</div>